{% extends 'base.html' %}

{% block main %}
<div class="d-flex justify-content-center">
  <div class="card">
    <div class="card-header">
      <h1>Login</h1>
    </div>
    <div class="card-body">
      {% if context.show_message == True %}
      <h3>{{ context.message }}</h3>
      {% endif %}
      {% if context.show_form == True %}
      <form id="login" action="/login{{ context.url_redirect.params }}" method="POST" class="row row-cols-lg-auto g-3 align-items-center" novalidate>
        <div class="col-12">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
          <div class="invalid-feedback">
            Please provide a valid username.
          </div>  
        </div>
        <div class="col-12">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
          <div class="invalid-feedback">
            Please provide a valid password.
          </div>  
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-secondary">Login</button>      
        </div>
      </form>
      {% endif %}    
    </div>
  </div>
</div>
{% if context.show_signup == True %}
<div class="d-flex justify-content-center">
  <label>or</label>
</div>
<div class="d-flex justify-content-center">
  <div class="card">
    <div class="card-body">
      <a href="/signup{{ context.url_redirect.params }}" class="btn btn-secondary">Sign-up</a>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block postloadjs_extra %}
  <script type="text/javascript">
    // example from: https://getbootstrap.com/docs/5.0/forms/validation/#custom-styles
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('#login')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }            
            form.classList.add('was-validated') 
          }, false)
        })
    })()
  </script>
{% endblock %}