{% extends 'base.html' %}

{% block main %}
  {% if method == 'POST' %}
  <div class="col-sm-6">
      <!--
          ### sign-up form
          username
          new password
          repeat new password
          successful return to /login
      -->
      <h3>POST</h3>
  </div>
  {% elif method == 'PUT' %}
  <div class="col-sm-6">
      <!--
          username
          old password
          new password
          repeat new password
      -->
      <h3>PUT</h3>
  </div>
  {% elif method == 'DELETE' %}
  <div class="col-sm-6">
      <!--
          ### delete account
          message "are you sure?"
          successful return to /
      -->
      <h3>DELETE</h3>
  </div>
  {% else %}
  <div class="col-sm-6">
      <!--
          username
          change password > /profile/<username> - PUT
          reviews count
          list reviews (view, edit, remove)
      -->
      <h3>GET</h3>
  </div>
  {% endif %}
{% endblock %}