{% extends 'base.html' %}

{% block main %}
<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-header">
            <h1>{{ context.subtitle }}</h1>  
        </div>
        <div class="card-body">        
        {% if method == 'POST' %}
            <!--
                Save review rate Form HTML
                *******                   
                successful review message
                show movie list review
            -->
        {% elif method == 'PUT' %}
            <!--
                Update review rate Form HTML
                *******                
                username
                old password
                new password
                repeat new password
            -->
            {% if context.user.authenticated == True %}
            <!--
                show update review form html
            -->                              
            {% endif %}            
        {% elif method == 'DELETE' %}
            <!--
                Delete review Form HTML
                *******
                ### delete account
                message "are you sure?"
                successful return to /
            -->
        {% else %}
            <!--
                Review Form HTML
                *******
                show movie review list
                username
                change password > /profile/<username> - PUT
                reviews count
                list reviews (view, edit, remove)
            -->
            {% if context.user.authenticated == True %}
            <!--
                show create review form html
            -->                              
            {% endif %}
        {% endif %}
        {% if context.user.authenticated == False %}
        <!--
            show sign-up and login buttons to be able to review
        -->                
        {% endif %}        
        </div>        
    </div>
  </div>
{% endblock %}
