{% extends 'base.html' %}
<!-- block main img  -->
{% block main %}
<div class="d-flex justify-content-center">
  <div class="card text-center">
    {% if context.movie.backdrop_path == None %}
    <img
      src="{{url_for('static', filename = 'images/movie-empty.jpg')}}"
      class="card-img-top"
      alt="{{context.movie.title}}"
    />
    {% else %}
    <img
      src="https://image.tmdb.org/t/p/w500/{{ context.movie.backdrop_path }}"
      class="card-img-top"
      alt="{{context.movie.title}}"
    />
    {% endif %}
    <!-- created context.movie -->
    <div class="card-body">
      <h5 class="card-title">
        {{ context.movie.title }} ({{ context.movie.year }})
      </h5>
      <p class="card-text">{{ context.movie.overview }}</p>
      <div class="mb-5">
        <span
          ><i class="bi bi-star-fill"></i>&nbsp;{{ context.movie.rate_average
          }}</span
        >&nbsp;
        <span
          ><i class="bi bi-people-fill"></i>&nbsp;{{ context.movie.rate_count
          }}</span
        >
      </div>
      <div class="mb-5">
        <label class="form-label">Rate this movie</label>
        <form
          id="review"
          action="/reviews/{{ context.movie.id }}"
          method="POST"
          class="align-items-center"
          novalidate
        >
          {% for rate in range(6) %}
          <input
            type="radio"
            class="btn-check"
            name="options"
            id="rate_{{ rate }}"
            value="{{rate}}"
            autocomplete="off"
          />
          <label class="btn btn-outline-secondary me-1" for="rate_{{ rate }}"
            >{{ rate }}</label
          >
          {% endfor %}
        </form>
      </div>
      {% if context.message != "" %}
      <div class="mb-2 mt-2">
        <figure class="text-center">
          <blockquote class="blockquote">
            <p>{{ context.message }}</p>
          </blockquote>
        </figure>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
<!-- created block postloadjs/ -->
{% block postloadjs_extra %}
<script type="text/javascript">
  (function () {
    "use strict";
    const checkedRadio = document.querySelector("#rate_{{ context.rate }}");
    const radios = document.querySelectorAll(".btn-check");
    Array.prototype.slice.call(radios).forEach(function (radio) {
      radio.addEventListener(
        "click",
        function (event) {
          event.preventDefault();
          event.stopPropagation();
          const form = document.querySelector("#review");
          form.submit();
        },
        false
      );
    });
    if (checkedRadio) {
      checkedRadio.checked = true;
    }
  })();
</script>
{% endblock %}
