{% extends 'base.html' %}

{% block main %}

  {% if context.show_message == True %}
    {{ context.message }}
    Go to <a href="/login">Login</a>
  {% else %}
  <div class="d-flex justify-content-center">
      <div class="card">
        <div class="card-header">
         <h1>Sign-Up</h1>
        </div>
        <div class="card-body">
          <form id="signup" action="/signup" method="POST" class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="col-12">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="col-12">
              <label for="password_check" class="form-label">Repeat Password</label>
              <input type="password" class="form-control" id="password_check" name="password_check"  placeholder="Repeat Password">
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-secondary">Sign-up</button>      
            </div>
          </form>
        </div>
      </div>
  </div>
  {% endif %}

{% endblock %}